/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #000 !important;
  height: 100%;
  color: #fff;
  background-image: url('../assets/back.png') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* index.scss */
:root {
  --color-primary: #ffe55c;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}
